<div class="resource-content flexcol flex-center flex-between">
    <label class="resource-label flex-group-center">{{localize @root.config.labels.identity}}</label>
    <div class="resource-content flexrow flex-center flex-between flex-group-left">
        <label for="system.arc.value" class="resource-label">{{localize @root.config.characterArchetype}}</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.arc.value" value="{{system.arc.value}}" data-dtype="String"/>
        </div>
    </div>
    {{#each system.identity as |info key|}}
    <div class="resource-content flexrow flex-center flex-between flex-group-left">
        <label for="system.identity.{{key}}.value" class="resource-label">{{localize (lookup @root.config.identity key)}}</label>
        <div class="resource-content flexrow flex-center flex-between">
            <select name="system.identity.{{key}}.value" data-dtype="String">
            {{selectOptions (lookup @root.config.identityValues key) selected=info.value localize=true}}
            </select>
        </div>
    </div>
    {{/each}}
    <textarea>{{thread.description}}</textarea>
</div>