<div class="flexcol">
    <div class="flexrow">
        <label for="system.arc.value" class="resource-label">{{localize @root.config.labels.archetype}}</label>
        <input type="text" name="system.arc.value" value="{{system.arc.value}}" data-dtype="String"/>
    </div>
    <div class="flexrow">
        <label for="system.exp.value" class="resource-label">{{localize @root.config.labels.experience}}</label>
        <input type="text" name="system.exp.value" value="{{system.exp.value}}" data-dtype="String"/>
    </div>
</div>
<div class="flexcol">
    {{#each system.identity as |info key|}}
    <div class="flexrow">
        <label for="system.identity.{{key}}.value" class="resource-label">{{localize (lookup @root.config.identity key)}}</label>
        <select name="system.identity.{{key}}.value" data-dtype="String">
        {{selectOptions (lookup @root.config.identityValues key) selected=info.value localize=true}}
        </select>
    </div>
    {{/each}}
</div>