<section class="grid">
  <section class="main traits grid-span-2">
    <label class="resource-label flex-group-center flexcol">{{localize @root.config.labels.traits}}</label>
    <div class="traits flex-group-center">
      {{#each system.traits as |trait key|}}
      <div class="trait">
        <label for="system.traits.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="(@{{key}}.mod)d10" data-label="{{localize (lookup @root.config.traits key)}}">{{localize (lookup @root.config.traits key)}}</label>
        <br>
        <input type="text" name="system.traits.{{key}}.value" value="{{trait.value}}" data-dtype="Number"/>
      </div>
      {{/each}}
    </div>
  </section>
  
  {{!-- For the main features list, span the right two columns --}}
  <label class="resource-label flex-group-center flexcol grid-span-2">{{localize @root.config.labels.skills}}</label>
  <section class="main domains grid-span-2">
    {{#each system.domains as |domain key|}}
    <div class="domain flex-group-center">
      <label for="system.domains.{{key}}.value" class="resource-label flexlarge align-left" data-label="{{localize (lookup @root.config.domains key)}}">{{localize (lookup @root.config.domains key)}}</label>
      <input type="checkbox" name="system.domains.{{key}}.value" value="{{domain.value}}" {{checked domain.value}} data-dtype="Boolean"/>
      {{#each domain.skills as |skill key2|}}
      <div class="skill flexrow flex-group-left">
        <label for="system.domains.{{key}}.skills.{{key2}}.value" class="resource-label rollable flexlarge align-left" data-roll="(@{{key2}}.mod)d10" data-label="{{localize (lookup @root.config.skills key2)}}">{{localize (lookup @root.config.skills key2)}}</label>
        <select name="system.domains.{{key}}.skills.{{key2}}.value" data-dtype="String">
          {{selectOptions @root.config.skillValues selected=skill.value localize=true}}
        </select>
      </div>
      {{/each}}
    </div>
    {{/each}}
  </section>
</section>