<label class="resource-label">{{localize @root.config.pools.ner}}</label>
<div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.pools.ner.value" value="{{system.pools.ner.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.pools.ner.total" value="{{system.pools.ner.total}}" data-dtype="Number"/>
</div>
<label class="resource-label">{{localize @root.config.pools.str}}</label>
<div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.pools.str.value" value="{{system.pools.str.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.pools.str.total" value="{{system.pools.str.total}}" data-dtype="Number"/>
</div>