<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center flexcol grid-span-2">
          <label class="resource-label">{{localize @root.config.wounds.title}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.wounds.light.threshold" class="resource-label flexlarge align-center" data-label="{{localize @root.config.wounds.threshold}}">{{localize @root.config.wounds.threshold}}</label>
            <span> : </span>
            <label for="system.wounds.light.value" class="resource-label flexlarge align-center" data-label="{{localize @root.config.wounds.count}}">{{localize @root.config.wounds.count}}</label>
            <span> / </span>
            <label for="system.wounds.light.limit" class="resource-label flexlarge align-center" data-label="{{localize @root.config.wounds.limit}}">{{localize @root.config.wounds.limit}}</label>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.wounds.light.value" class="resource-label flexlarge align-left" data-label="{{localize @root.config.wounds.lig}}">{{localize @root.config.wounds.lig}}</label>
            <input type="text" name="system.wounds.light.threshold" value="{{system.wounds.light.threshold}}" data-dtype="Number"/>
            <span> : </span>
            <input type="text" name="system.wounds.light.value" value="{{system.wounds.light.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.wounds.light.limit" value="{{system.wounds.light.limit}}" data-dtype="Number"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.wounds.serious.value" class="resource-label flexlarge align-left" data-label="{{localize @root.config.wounds.ser}}">{{localize @root.config.wounds.ser}}</label>
            <input type="text" name="system.wounds.serious.threshold" value="{{system.wounds.serious.threshold}}" data-dtype="Number"/>
            <span> : </span>
            <input type="text" name="system.wounds.serious.value" value="{{system.wounds.serious.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.wounds.serious.limit" value="{{system.wounds.serious.limit}}" data-dtype="Number"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.wounds.lethal.value" class="resource-label flexlarge align-left" data-label="{{localize @root.config.wounds.let}}">{{localize @root.config.wounds.let}}</label>
            <input type="text" name="system.wounds.lethal.threshold" value="{{system.wounds.lethal.threshold}}" data-dtype="Number"/>
            <span> : </span>
            <input type="text" name="system.wounds.lethal.value" value="{{system.wounds.lethal.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" name="system.wounds.lethal.limit" value="{{system.wounds.lethal.limit}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource flex-group-center flexcol">
          <label class="resource-label">{{localize @root.config.npcTraits.title}}</label>
          <div class="flexrow">
            <label for="system.dam" class="resource-label">{{localize @root.config.npcTraits.dam}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.dam" value="{{system.dam}}" data-dtype="Number"/>
            </div>
          </div>
          <div class="flexrow">
            <label for="system.vig" class="resource-label rollable" data-roll="(@vig)d10" data-label="{{localize @root.config.npcTraits.vig}}">{{localize @root.config.npcTraits.vig}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.vig" value="{{system.vig}}" data-dtype="Number"/>
            </div>
          </div>
          <div class="flexrow">
            <label for="system.att" class="resource-label rollable" data-roll="(@att)d10" data-label="{{localize @root.config.npcTraits.att}}">{{localize @root.config.npcTraits.att}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.att" value="{{system.att}}" data-dtype="Number"/>
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/vermin-2047/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/vermin-2047/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>

