<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center flexcol grid-span-2">
          {{> "systems/vermin-2047/templates/actor/parts/actor-wounds.hbs"}}
        </div>
        <div class="resource flex-group-center flexcol">
          <label class="resource-label">{{localize @root.config.identityTitle}}</label>
          <div class="flexrow">
            <label for="system.arc.value" class="resource-label">{{localize @root.config.characterArchetype}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="system.arc.value" value="{{system.arc.value}}" data-dtype="String"/>
            </div>
          </div>
          {{#each system.identity as |info key|}}
          <div class="flexrow">
          <label for="system.identity.{{key}}.value" class="resource-label">{{localize (lookup @root.config.identity key)}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <select name="system.identity.{{key}}.value" data-dtype="String">
                {{selectOptions (lookup @root.config.identityValues key) selected=info.value localize=true}}
              </select>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid">
        <section class="main traits grid-span-2">
          <div class="traits flex-group-center">
            {{#each system.traits as |trait key|}}
            <div class="trait">
              <label for="system.traits.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="(@{{key}}.mod)d10" data-label="{{localize (lookup @root.config.traits key)}}">{{localize (lookup @root.config.traits key)}}</label>
              <br>
              <input type="text" name="system.traits.{{key}}.value" value="{{trait.value}}" data-dtype="Number"/>
            </div>
            {{/each}}
          </div>
        </section>
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}

        </aside>
        
        {{!-- For the main features list, span the right two columns --}}
        <section class="main domains grid-span-2">
          {{#each system.domains as |domain key|}}
          <div class="domain flex-group-center">
            <label for="system.domains.{{key}}.value" class="resource-label flexlarge align-left" data-label="{{localize (lookup @root.config.domains key)}}">{{localize (lookup @root.config.domains key)}}</label>
            <input type="checkbox" name="system.domains.{{key}}.value" value="{{domain.value}}" {{checked domain.value}} data-dtype="Boolean"/>
            {{#each domain.skills as |skill key2|}}
            <div class="skill flexrow flex-group-left">
              <label for="system.domains.{{key}}.skills.{{key2}}.value" class="resource-label rollable flexlarge align-left" data-roll="(@{{key2}}.mod)d10" data-label="{{localize (lookup @root.config.skills key2)}}">{{localize (lookup @root.config.skills key2)}}</label>
              <select name="system.domains.{{key}}.skills.{{key2}}.value" data-dtype="String">
                {{selectOptions @root.config.skillValues selected=skill.value localize=true}}
              </select>
            </div>
            {{/each}}
          </div>
          {{/each}}
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          <!--{{> "systems/vermin-2047/templates/actor/parts/actor-features.hbs"}}-->
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/vermin-2047/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/vermin-2047/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/vermin-2047/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
