<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      
    </div>
  </header>

{{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">{{localize @root.config.labels.features}}</a>
    <a class="item" data-tab="items">{{localize @root.config.labels.items}}</a>
    <a class="item" data-tab="effects">{{localize @root.config.labels.effects}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <div class="flexrow mb-5">
        <div class='resource '>
          <label class='resource-label'>{{localize @root.config.labels.type}}</label>
          <select name="system.type.value" data-dtype='String'>
            {{selectOptions @root.config.vehiculeTypes selected=system.type.value localize=true}}
          </select>
        </div>
        <div class='resource {{#if system.isVehicule}}hidden{{/if}}'>
          <label class='resource-label'>{{localize @root.config.pools.str}}</label>
          <input
            type='text'
            name='system.strain.value'
            value='{{system.strain.value}}'
            data-dtype='Number'
            class="attribute"
          />
          /
          <input
            type='text'
            name='system.strain.max'
            value='{{system.strain.max}}'
            data-dtype='Number'
            class="attribute"
          />
        </div>
        <div class='resource {{#if system.isMount}}hidden{{/if}}'>
          <label class='resource-label'>{{localize @root.config.labels.reliability}}</label>
          <input
            type='text'
            name='system.reliability.value'
            value='{{system.reliability.value}}'
            data-dtype='Number'
            class="attribute"
          />
          /
          <input
            type='text'
            name='system.reliability.max'
            value='{{system.reliability.max}}'
            data-dtype='Number'
            class="attribute"
          />
        </div>
      </div>
      <div class="flexrow mb-5">
        <div class="resource">
          <label class='resource-label'>{{localize @root.config.labels.distance}}</label>
          <input
            type='text'
            name='system.distance.value'
            value='{{system.distance.value}}'
            data-dtype='String'
            class="attribute"
          />
          {{localize @root.config.labels.kilometers}}
        </div>
        <div class='resource flexlarge'>
          <label class='resource-label'>{{localize @root.config.labels.speed}}</label>
          <input
            type='text'
            name='system.speed.cruising'
            value='{{system.speed.cruising}}'
            data-dtype='Number'
            class="attribute"
          />
          /
          <input
            type='text'
            name='system.speed.top'
            value='{{system.speed.top}}'
            data-dtype='Number'
            class="attribute"
          />
          <input
            type='text'
            name='system.speed.speed_unit'
            value='{{system.speed.speed_unit}}'
            data-dtype='String'
            class="attribute"
          />(
          <input
            type='text'
            name='system.speed.time'
            value='{{system.speed.time}}'
            data-dtype='Number'
            class="attribute"
          />
          <input
            type='text'
            name='system.speed.time_unit'
            value='{{system.speed.time_unit}}'
            data-dtype='String'
            class="attribute"
          />)
        </div>
      </div>
      <div class="flexrow mb-5">
        <div class='resource'>
          <label class='resource-label'>{{localize @root.config.labels.rarity}}</label>
          <input
            type='text'
            name='system.rarity.value'
            value='{{system.rarity.value}}'
            data-dtype='Number'
            class="attribute"
          />
          <select name="system.rarity.criteria" data-dtype='Number'>
            {{selectOptions @root.config.ranks selected=system.rarity.criteria localize=true}}
          </select>
        </div>
        <div class='resource flexlarge'>
          <label class='resource-label'>{{localize @root.config.labels.maintenance}}</label>
          <select name="system.maintenance.primary" data-dtype='String'>
            {{selectOptions @root.config.maintenanceSkills selected=system.maintenance.primary localize=true}}
          </select>
          <select name="system.maintenance.secondary" data-dtype='String'>
            {{selectOptions @root.config.maintenanceSkills selected=system.maintenance.secondary localize=true}}
          </select>
        </div>
      </div>
      <div class="flexrow">
        <div class="resource">
          <label for="system.biography" class="resource-label flexlarge align-left" data-label="{{localize @root.config.labels.description}}">{{localize @root.config.labels.description}}</label>
          <textarea name="system.description" rows="4">{{system.description}}</textarea>
      </div>
      </div>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/vermin-2047/templates/actor/parts/actor-protections.hbs"}}
      {{> "systems/vermin-2047/templates/actor/parts/actor-weapons.hbs"}}
      {{> "systems/vermin-2047/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/vermin-2047/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
