<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='attributes'>{{localize @root.config.labels.attributes}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>
    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      <div class="flexrow">
        <div class='resource mb-5'>
          <label class='resource-label'>{{localize @root.config.labels.rarity}}</label>
          <input
            type='text'
            name='system.rarity.value'
            value='{{system.rarity.value}}'
            data-dtype='Number'
            class="attribute"
          />
          <select name="system.rarity.criteria" data-dtype='Number'>
            {{selectOptions @root.config.ranks selected=system.rarity.criteria localize=true}}
          </select>
        </div>
        <div class="resource mb-5">
          <label class='resource-label'>{{localize @root.config.labels.quantity}}</label>
          <input
            type='text'
            name='system.quantity.value'
            value='{{system.quantity.value}}'
            data-dtype='Number'
            class="attribute"
          />
          /
          <input
            type='text'
            name='system.quantity.max'
            value='{{system.quantity.max}}'
            data-dtype='Number'
            class="attribute"
          />
        </div>
      </div>
      <div class="flexrow">
        <div class='resource mb-5'>
          <label class='resource-label'>{{localize @root.config.labels.reliability}}</label>
          <input
            type='text'
            name='system.reliability.value'
            value='{{system.reliability.value}}'
            data-dtype='Number'
            class="attribute"
          />
          /
          <input
            type='text'
            name='system.reliability.max'
            value='{{system.reliability.max}}'
            data-dtype='Number'
            class="attribute"
          />
        </div>
      </div>
      <div class="resource mb-5">
        <label for="system.description" class="resource-label flexlarge align-left" data-label="{{localize @root.config.labels.description}}">{{localize @root.config.labels.description}}</label>
        <textarea name="system.description" rows="4">{{system.description}}</textarea>
      </div>
      <div class="resource mb-50">
        <label class="resource-label flex-group-center flexcol">{{localize @root.config.labels.traits}}</label>
        {{> "systems/vermin-2047/templates/actor/parts/actor-effects.hbs"}}
      </div>
      <!--
      {{! As you add new fields, add them in here! }}
      <div class='resource'>
        <label class='resource-label'>Roll Formula:</label>
        <span>{{system.formula}}</span>
        <div class='grid grid-4col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Number of Dice</label>
            <input
              type='text'
              name='system.roll.diceNum'
              value='{{system.roll.diceNum}}'
              data-dtype='Number'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Die Size</label>
            <input
              type='text'
              name='system.roll.diceSize'
              value='{{system.roll.diceSize}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-2'>
            <label class='resource-label'>Roll Modifier</label>
            <input
              type='text'
              name='system.roll.diceBonus'
              value='{{system.roll.diceBonus}}'
              data-dtype='String'
            />
          </div>
        </div>
        -->
      </div>
    </div>
  </section>
</form>